<div>
  <h1 class="font-bold text-4xl">Your Dashboard</h1>
  <div class="mt-4">
    <%= link_to "Create new store", new_store_path, class: "btn btn-primary" %>
  </div>

  <h2 class="mt-8 text-3xl"> Your stores </h2>
  <div class="mt-4"> 
    <% Current.user.stores.each do |store| %>
      <div class="card w-96 bg-base-100 card-sm shadow-sm">
        <div class="card-body">
          <h2 class="card-title"><%= store.name %></h2>
          <p> <%= store.description.first(100) %></p>
          <%= image_tag(store.banner_image, class: "w-full h-24 object-cover") if store.banner_image.attached? %>
          <div class="justify-end card-actions">
            <%= link_to "View store", store, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
