<% content_for :title, @store.name %>

<div class="w-full flex flex-col">
  <div class="flex items-center justify-between w-full">
    <h1 class="font-bold text-4xl"><%= @store.name %></h1>
    <%= link_to "Edit this store", edit_store_path(@store), class: "btn btn-outline" %>
  </div>

  <p class="text-xl mt-4"> <%= @store.description %> </p>

  <%= image_tag(@store.banner_image, class: "w-full h-64 object-cover mt-4") if @store.banner_image.attached? %>

  <div class="flex items-center justify-between w-full mt-8">
    <h2 class="text-4xl"> Your Products </h2>
    <%= link_to "Create new product", new_store_product_path(@store), class: "btn btn-primary" %>
  </div>

  <div class="w-full grid md:grid-cols-3 lg:grid-cols-4 gap-8 mt-8"> 
    <% @store.products.each do |product| %>
      <div class="card w-full bg-base-100 card-sm shadow-sm">
        <div class="card-body">
          <h2 class="card-title"><%= product.name %></h2>
          <p> <%= product.description.first(100) %> </p>
          <%= image_tag(product.images.first, class: "w-24") if product.images.any? %>
          <div class="justify-end card-actions">
            <%= link_to "View product", [@store, product], class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>